* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

#bodyIndex {
  font-family: "Audiowide", cursive;
  background-image: url(../img/background/backgroundLight.jpg);
  background-position-x: 60%;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 20% 60% 20%;
}

#bodyPages {
  font-family: "Audiowide", cursive;
  background-image: url(../img/background/backgroundLight.jpg);
  background-position-x: 60%;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 17rem auto 10%;
}

#header {
  grid-area: header;
  display: block;
}
#header .homePageIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header .homePageIconContainer #homePageIcon {
  display: inline-block;
  width: 8%;
  margin-top: 1rem;
  padding: 0.75rem;
  transition: width 1s;
}
@media only screen and (min-device-width: 325px) and (max-device-width: 425px) {
  #header .homePageIconContainer #homePageIcon {
    width: 8%;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
  #header .homePageIconContainer #homePageIcon {
    width: 4%;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #header .homePageIconContainer #homePageIcon {
    width: 4%;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #header .homePageIconContainer #homePageIcon {
    width: 3%;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #header .homePageIconContainer #homePageIcon {
    width: 1.5%;
  }
}
@media only screen and (min-device-width: 2561px) {
  #header .homePageIconContainer #homePageIcon {
    width: 1%;
  }
}
#header .whereToStartMessage {
  color: orange;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  letter-spacing: 0.1em;
}
#header .whereToStartMessage .message {
  font-size: 1rem;
  width: 100vw;
  text-align: center;
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #header .whereToStartMessage .message {
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #header .whereToStartMessage .message {
    font-size: 3rem;
  }
}
#header .whereToStartMessage .arrow {
  width: 100vw;
  text-align: center;
  font-size: 2rem;
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #header .whereToStartMessage .arrow {
    font-size: 4rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #header .whereToStartMessage .arrow {
    font-size: 6rem;
  }
}
#header input[type=checkbox] {
  display: none;
}
#header .lbl-toggle {
  cursor: pointer;
}
#header .lbl-toggle #Logo {
  height: 4rem;
  line-height: 4rem;
  font-size: 4rem;
  font-weight: 900;
  width: 100VW;
  text-align: center;
  margin-bottom: 1rem;
}
@media only screen and (min-device-width: 425px) and (max-device-width: 768px) {
  #header .lbl-toggle #Logo {
    font-size: 4.25rem;
    height: 5rem;
    line-height: 5rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #header .lbl-toggle #Logo {
    font-size: 4.5rem;
    height: 5rem;
    line-height: 5rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #header .lbl-toggle #Logo {
    font-size: 5rem;
    height: 6rem;
    line-height: 6rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #header .lbl-toggle #Logo {
    font-size: 5.5rem;
    height: 6.5rem;
    line-height: 6.5rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #header .lbl-toggle #Logo {
    font-size: 8rem;
    height: 7rem;
    line-height: 7rem;
  }
}
#header .lbl-toggle #Logo span {
  display: inline-flex;
  color: white;
}
#header .lbl-toggle #Logo span:nth-child(even) {
  overflow: hidden;
  transition: ease-in-out 0.5s;
  letter-spacing: -1em;
}
#header .lbl-toggle #Logo:hover span:nth-child(even) {
  letter-spacing: 0;
  transition-delay: 0s;
}
#header .dropdown-content {
  max-height: 0vh;
  position: relative;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin-top: -2rem;
}
#header .dropdown-content .content-inner {
  width: 100vw;
  text-align: center;
}
#header .dropdown-content .content-inner li {
  margin-block: 1.25rem;
  list-style: none;
  text-shadow: 0 0 5px white, 0 0 10px white;
}
#header .dropdown-content .content-inner li a {
  text-decoration: none;
  letter-spacing: 0.5em;
  font-size: 1rem;
  transition: font-size 1s;
}
@media only screen and (min-device-width: 425px) and (max-device-width: 768px) {
  #header .dropdown-content .content-inner li a {
    font-size: 1.25rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #header .dropdown-content .content-inner li a {
    font-size: 1.5rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #header .dropdown-content .content-inner li a {
    font-size: 1.75rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #header .dropdown-content .content-inner li a {
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #header .dropdown-content .content-inner li a {
    font-size: 3rem;
  }
}
#header .dropdown-content .content-inner li a:link {
  color: whitesmoke;
}
#header .dropdown-content .content-inner li a:visited {
  color: whitesmoke;
}
#header .dropdown-content .content-inner li a:hover {
  color: whitesmoke;
  font-size: -0.75rem;
}
@media only screen and (min-device-width: 425px) and (max-device-width: 768px) {
  #header .dropdown-content .content-inner li a:hover {
    font-size: 0.25rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #header .dropdown-content .content-inner li a:hover {
    font-size: 0.75rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #header .dropdown-content .content-inner li a:hover {
    font-size: 1.25rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #header .dropdown-content .content-inner li a:hover {
    font-size: 1.5rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #header .dropdown-content .content-inner li a:hover {
    font-size: 2.5rem;
  }
}
#header .dropdown-content .content-inner li a:active {
  color: whitesmoke;
}
#header .toggle:checked + .lbl-toggle + .dropdown-content {
  max-height: 20rem;
  overflow: hidden;
}

#subTitle {
  color: orange;
  letter-spacing: 0.5rem;
  font-size: 1.9rem;
  text-align: center;
  width: 100vw;
  margin: 3rem auto;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #subTitle {
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #subTitle {
    font-size: 2.5rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #subTitle {
    font-size: 2.75rem;
    margin: 8rem auto;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #subTitle {
    font-size: 4rem;
    margin: 10rem auto 7rem auto;
  }
}

#mainIndex {
  grid-area: main;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 7rem auto;
}
#mainIndex .proffession {
  display: flex;
  color: rgb(236, 236, 236);
  text-align: center;
  justify-content: center;
  font-size: 2.25rem;
  letter-spacing: 1.2rem;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainIndex .proffession {
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainIndex .proffession {
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainIndex .proffession {
    font-size: 2.5rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainIndex .proffession {
    font-size: 5rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainIndex .proffession {
    font-size: 10rem;
  }
}
#mainIndex p {
  display: inline-block;
  width: 22rem;
  color: rgb(236, 236, 236);
  text-align: center;
  margin-top: 6rem;
  padding: 2rem;
  font-size: 1rem;
  letter-spacing: 0.28rem;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainIndex p {
    font-size: 1.25rem;
    width: 55%;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainIndex p {
    font-size: 1rem;
    width: 40%;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainIndex p {
    font-size: 1.25rem;
    width: 35%;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainIndex p {
    font-size: 2.5rem;
    width: 30%;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainIndex p {
    font-size: 3.5rem;
    width: 30%;
    margin-top: 15rem;
  }
}

#mainAboutme {
  grid-area: main;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}
@media only screen and (min-device-width: 325px) and (max-device-width: 425px) {
  #mainAboutme {
    margin-top: 6rem;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 1440px) {
  #mainAboutme {
    margin-top: 10Rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainAboutme {
    margin-top: 6rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainAboutme {
    margin-top: -75rem;
  }
}
#mainAboutme #content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  max-width: 1900px;
  height: auto;
  margin: 0 auto;
  padding: 0 4rem;
  background: rgba(0, 0, 0, 0.3);
}
#mainAboutme #content .growingWord, #mainAboutme #content .touch {
  color: orange;
  text-decoration: none;
  transition: font-size 1s;
}
#mainAboutme #content .growingWord:hover, #mainAboutme #content .touch:hover {
  font-size: 3rem;
}
#mainAboutme #content #textoAboutme {
  text-align: center;
}
#mainAboutme #content #textoAboutme p {
  color: white;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  width: auto;
  padding: 2rem;
}
@media only screen and (min-device-width: 325px) and (max-device-width: 425px) {
  #mainAboutme #content #textoAboutme p {
    font-size: 1.25rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainAboutme #content #textoAboutme p {
    font-size: 1.25rem;
    width: 65%;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainAboutme #content #textoAboutme p {
    font-size: 1.75rem;
    width: 75%;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainAboutme #content #textoAboutme p {
    font-size: 2.5rem;
    width: 100%;
    margin: 0 auto;
  }
}
#mainAboutme #content #javaFalse {
  text-align: left;
  color: white;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  width: 70vw;
  margin: 1rem auto;
}
#mainAboutme #content #javaFalse .let {
  color: lightskyblue;
}
#mainAboutme #content #javaFalse .true {
  color: limegreen;
}
#mainAboutme #content #javaFalse .false {
  color: red;
}
#mainAboutme #content #javaFalse .alert {
  color: yellow;
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainAboutme #content #javaFalse {
    font-size: 1.25rem;
    width: 35vw;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainAboutme #content #javaFalse {
    font-size: 1.75rem;
    width: 25vw;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainAboutme #content #javaFalse {
    font-size: 2.5rem;
    width: 15vw;
  }
}
#mainAboutme #content .goodLuck {
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainAboutme #content .goodLuck {
    margin-top: 5rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainAboutme #content .goodLuck {
    font-size: 2.75rem;
    margin-top: 5rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainAboutme #content .goodLuck {
    font-size: 5rem;
    margin-top: 10rem;
  }
}

#mainMywork {
  grid-area: main;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
#mainMywork h3 {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  margin-bottom: 4rem;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainMywork h3 {
    font-size: 1.4rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainMywork h3 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainMywork h3 {
    font-size: 1.8rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainMywork h3 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainMywork h3 {
    font-size: 4rem;
  }
}
#mainMywork .gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 100vw;
  margin: 2rem auto 10rem auto;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainMywork .gallery {
    flex-direction: row;
    max-width: 50vw;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainMywork .gallery {
    flex-direction: row;
    max-width: 50vw;
    gap: 1.5rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainMywork .gallery {
    flex-direction: row;
    max-width: 45vw;
    gap: 2rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainMywork .gallery {
    flex-direction: row;
    max-width: 35vw;
    gap: 2.5rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainMywork .gallery {
    flex-direction: row;
    max-width: 35vw;
    gap: 5rem;
  }
}
#mainMywork .gallery figure {
  background-color: black;
  text-align: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 1rem;
}
#mainMywork .gallery figure figcaption {
  margin: 1rem auto auto auto;
  color: white;
  width: 10rem;
  font-size: 0.8rem;
  text-align: center;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainMywork .gallery figure figcaption {
    font-size: 1rem;
    width: 12rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainMywork .gallery figure figcaption {
    font-size: 1.15rem;
    width: 14rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainMywork .gallery figure figcaption {
    font-size: 1.3rem;
    width: 16rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainMywork .gallery figure figcaption {
    font-size: 2rem;
    width: 23rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainMywork .gallery figure figcaption {
    font-size: 2rem;
    width: 23rem;
  }
}
#mainMywork .gallery figure img {
  margin-top: 1rem;
  color: white;
  text-align: center;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
  justify-content: center;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainMywork .gallery figure img {
    width: 12rem;
    height: 12rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainMywork .gallery figure img {
    width: 14rem;
    height: 14rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainMywork .gallery figure img {
    width: 16rem;
    height: 16rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainMywork .gallery figure img {
    width: 22.75rem;
    height: 22.75rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainMywork .gallery figure img {
    width: 30rem;
    height: 30rem;
    transition: width 1s;
  }
  #mainMywork .gallery figure img:hover {
    width: 40rem;
  }
}

#mainSkills {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 1rem auto;
}
#mainSkills #gridContainer .row1, #mainSkills #gridContainer .row2, #mainSkills #gridContainer .row3, #mainSkills #gridContainer .row4, #mainSkills #gridContainer .row5, #mainSkills #gridContainer .row6 {
  margin: 2rem auto;
  width: 80%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.45);
  border: 0.1rem solid black;
  display: grid;
  grid-template-areas: "skill" "image" "description";
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainSkills #gridContainer .row1, #mainSkills #gridContainer .row2, #mainSkills #gridContainer .row3, #mainSkills #gridContainer .row4, #mainSkills #gridContainer .row5, #mainSkills #gridContainer .row6 {
    grid-template-areas: "skill image description";
    width: 75%;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainSkills #gridContainer .row1, #mainSkills #gridContainer .row2, #mainSkills #gridContainer .row3, #mainSkills #gridContainer .row4, #mainSkills #gridContainer .row5, #mainSkills #gridContainer .row6 {
    grid-template-areas: "skill image description";
    width: 75%;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainSkills #gridContainer .row1, #mainSkills #gridContainer .row2, #mainSkills #gridContainer .row3, #mainSkills #gridContainer .row4, #mainSkills #gridContainer .row5, #mainSkills #gridContainer .row6 {
    grid-template-areas: "skill image description";
    width: 65%;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainSkills #gridContainer .row1, #mainSkills #gridContainer .row2, #mainSkills #gridContainer .row3, #mainSkills #gridContainer .row4, #mainSkills #gridContainer .row5, #mainSkills #gridContainer .row6 {
    grid-template-areas: "skill image description";
    width: 65%;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainSkills #gridContainer .row1, #mainSkills #gridContainer .row2, #mainSkills #gridContainer .row3, #mainSkills #gridContainer .row4, #mainSkills #gridContainer .row5, #mainSkills #gridContainer .row6 {
    grid-template-areas: "skill image description";
    width: 65%;
  }
}
#mainSkills #gridContainer .row1 .skillNameContainer, #mainSkills #gridContainer .row2 .skillNameContainer, #mainSkills #gridContainer .row3 .skillNameContainer, #mainSkills #gridContainer .row4 .skillNameContainer, #mainSkills #gridContainer .row5 .skillNameContainer, #mainSkills #gridContainer .row6 .skillNameContainer {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px) {
  #mainSkills #gridContainer .row1 .skillNameContainer, #mainSkills #gridContainer .row2 .skillNameContainer, #mainSkills #gridContainer .row3 .skillNameContainer, #mainSkills #gridContainer .row4 .skillNameContainer, #mainSkills #gridContainer .row5 .skillNameContainer, #mainSkills #gridContainer .row6 .skillNameContainer {
    width: 10rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainSkills #gridContainer .row1 .skillNameContainer, #mainSkills #gridContainer .row2 .skillNameContainer, #mainSkills #gridContainer .row3 .skillNameContainer, #mainSkills #gridContainer .row4 .skillNameContainer, #mainSkills #gridContainer .row5 .skillNameContainer, #mainSkills #gridContainer .row6 .skillNameContainer {
    width: 15rem;
    justify-content: left;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainSkills #gridContainer .row1 .skillNameContainer, #mainSkills #gridContainer .row2 .skillNameContainer, #mainSkills #gridContainer .row3 .skillNameContainer, #mainSkills #gridContainer .row4 .skillNameContainer, #mainSkills #gridContainer .row5 .skillNameContainer, #mainSkills #gridContainer .row6 .skillNameContainer {
    width: 20rem;
    justify-content: left;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainSkills #gridContainer .row1 .skillNameContainer, #mainSkills #gridContainer .row2 .skillNameContainer, #mainSkills #gridContainer .row3 .skillNameContainer, #mainSkills #gridContainer .row4 .skillNameContainer, #mainSkills #gridContainer .row5 .skillNameContainer, #mainSkills #gridContainer .row6 .skillNameContainer {
    width: 30rem;
    justify-content: left;
  }
}
#mainSkills #gridContainer .row1 .skillNameContainer h3, #mainSkills #gridContainer .row2 .skillNameContainer h3, #mainSkills #gridContainer .row3 .skillNameContainer h3, #mainSkills #gridContainer .row4 .skillNameContainer h3, #mainSkills #gridContainer .row5 .skillNameContainer h3, #mainSkills #gridContainer .row6 .skillNameContainer h3 {
  grid-area: skill;
  font-size: 1rem;
  width: auto;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainSkills #gridContainer .row1 .skillNameContainer h3, #mainSkills #gridContainer .row2 .skillNameContainer h3, #mainSkills #gridContainer .row3 .skillNameContainer h3, #mainSkills #gridContainer .row4 .skillNameContainer h3, #mainSkills #gridContainer .row5 .skillNameContainer h3, #mainSkills #gridContainer .row6 .skillNameContainer h3 {
    font-size: 1rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainSkills #gridContainer .row1 .skillNameContainer h3, #mainSkills #gridContainer .row2 .skillNameContainer h3, #mainSkills #gridContainer .row3 .skillNameContainer h3, #mainSkills #gridContainer .row4 .skillNameContainer h3, #mainSkills #gridContainer .row5 .skillNameContainer h3, #mainSkills #gridContainer .row6 .skillNameContainer h3 {
    font-size: 1rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainSkills #gridContainer .row1 .skillNameContainer h3, #mainSkills #gridContainer .row2 .skillNameContainer h3, #mainSkills #gridContainer .row3 .skillNameContainer h3, #mainSkills #gridContainer .row4 .skillNameContainer h3, #mainSkills #gridContainer .row5 .skillNameContainer h3, #mainSkills #gridContainer .row6 .skillNameContainer h3 {
    font-size: 1.25rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainSkills #gridContainer .row1 .skillNameContainer h3, #mainSkills #gridContainer .row2 .skillNameContainer h3, #mainSkills #gridContainer .row3 .skillNameContainer h3, #mainSkills #gridContainer .row4 .skillNameContainer h3, #mainSkills #gridContainer .row5 .skillNameContainer h3, #mainSkills #gridContainer .row6 .skillNameContainer h3 {
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainSkills #gridContainer .row1 .skillNameContainer h3, #mainSkills #gridContainer .row2 .skillNameContainer h3, #mainSkills #gridContainer .row3 .skillNameContainer h3, #mainSkills #gridContainer .row4 .skillNameContainer h3, #mainSkills #gridContainer .row5 .skillNameContainer h3, #mainSkills #gridContainer .row6 .skillNameContainer h3 {
    font-size: 3rem;
  }
}
#mainSkills #gridContainer .row1 .imageSkillContainer, #mainSkills #gridContainer .row2 .imageSkillContainer, #mainSkills #gridContainer .row3 .imageSkillContainer, #mainSkills #gridContainer .row4 .imageSkillContainer, #mainSkills #gridContainer .row5 .imageSkillContainer, #mainSkills #gridContainer .row6 .imageSkillContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#mainSkills #gridContainer .row1 .imageSkillContainer img, #mainSkills #gridContainer .row2 .imageSkillContainer img, #mainSkills #gridContainer .row3 .imageSkillContainer img, #mainSkills #gridContainer .row4 .imageSkillContainer img, #mainSkills #gridContainer .row5 .imageSkillContainer img, #mainSkills #gridContainer .row6 .imageSkillContainer img {
  grid-area: image;
  width: 20%;
  margin: 1.5rem auto;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainSkills #gridContainer .row1 .imageSkillContainer img, #mainSkills #gridContainer .row2 .imageSkillContainer img, #mainSkills #gridContainer .row3 .imageSkillContainer img, #mainSkills #gridContainer .row4 .imageSkillContainer img, #mainSkills #gridContainer .row5 .imageSkillContainer img, #mainSkills #gridContainer .row6 .imageSkillContainer img {
    width: 35%;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainSkills #gridContainer .row1 .imageSkillContainer img, #mainSkills #gridContainer .row2 .imageSkillContainer img, #mainSkills #gridContainer .row3 .imageSkillContainer img, #mainSkills #gridContainer .row4 .imageSkillContainer img, #mainSkills #gridContainer .row5 .imageSkillContainer img, #mainSkills #gridContainer .row6 .imageSkillContainer img {
    width: 35%;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainSkills #gridContainer .row1 .imageSkillContainer img, #mainSkills #gridContainer .row2 .imageSkillContainer img, #mainSkills #gridContainer .row3 .imageSkillContainer img, #mainSkills #gridContainer .row4 .imageSkillContainer img, #mainSkills #gridContainer .row5 .imageSkillContainer img, #mainSkills #gridContainer .row6 .imageSkillContainer img {
    width: 35%;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainSkills #gridContainer .row1 .imageSkillContainer img, #mainSkills #gridContainer .row2 .imageSkillContainer img, #mainSkills #gridContainer .row3 .imageSkillContainer img, #mainSkills #gridContainer .row4 .imageSkillContainer img, #mainSkills #gridContainer .row5 .imageSkillContainer img, #mainSkills #gridContainer .row6 .imageSkillContainer img {
    width: 35%;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainSkills #gridContainer .row1 .imageSkillContainer img, #mainSkills #gridContainer .row2 .imageSkillContainer img, #mainSkills #gridContainer .row3 .imageSkillContainer img, #mainSkills #gridContainer .row4 .imageSkillContainer img, #mainSkills #gridContainer .row5 .imageSkillContainer img, #mainSkills #gridContainer .row6 .imageSkillContainer img {
    width: 45%;
  }
}
#mainSkills #gridContainer .row1 .skillDescriptionContainer, #mainSkills #gridContainer .row2 .skillDescriptionContainer, #mainSkills #gridContainer .row3 .skillDescriptionContainer, #mainSkills #gridContainer .row4 .skillDescriptionContainer, #mainSkills #gridContainer .row5 .skillDescriptionContainer, #mainSkills #gridContainer .row6 .skillDescriptionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#mainSkills #gridContainer .row1 .skillDescriptionContainer p, #mainSkills #gridContainer .row2 .skillDescriptionContainer p, #mainSkills #gridContainer .row3 .skillDescriptionContainer p, #mainSkills #gridContainer .row4 .skillDescriptionContainer p, #mainSkills #gridContainer .row5 .skillDescriptionContainer p, #mainSkills #gridContainer .row6 .skillDescriptionContainer p {
  color: white;
  grid-area: description;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.95rem;
  margin: 0 auto;
  letter-spacing: 0.05rem;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainSkills #gridContainer .row1 .skillDescriptionContainer p, #mainSkills #gridContainer .row2 .skillDescriptionContainer p, #mainSkills #gridContainer .row3 .skillDescriptionContainer p, #mainSkills #gridContainer .row4 .skillDescriptionContainer p, #mainSkills #gridContainer .row5 .skillDescriptionContainer p, #mainSkills #gridContainer .row6 .skillDescriptionContainer p {
    width: 75%;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainSkills #gridContainer .row1 .skillDescriptionContainer p, #mainSkills #gridContainer .row2 .skillDescriptionContainer p, #mainSkills #gridContainer .row3 .skillDescriptionContainer p, #mainSkills #gridContainer .row4 .skillDescriptionContainer p, #mainSkills #gridContainer .row5 .skillDescriptionContainer p, #mainSkills #gridContainer .row6 .skillDescriptionContainer p {
    width: 40rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainSkills #gridContainer .row1 .skillDescriptionContainer p, #mainSkills #gridContainer .row2 .skillDescriptionContainer p, #mainSkills #gridContainer .row3 .skillDescriptionContainer p, #mainSkills #gridContainer .row4 .skillDescriptionContainer p, #mainSkills #gridContainer .row5 .skillDescriptionContainer p, #mainSkills #gridContainer .row6 .skillDescriptionContainer p {
    width: 45rem;
    font-size: 1.2rem;
    letter-spacing: 0.12rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #mainSkills #gridContainer .row1 .skillDescriptionContainer p, #mainSkills #gridContainer .row2 .skillDescriptionContainer p, #mainSkills #gridContainer .row3 .skillDescriptionContainer p, #mainSkills #gridContainer .row4 .skillDescriptionContainer p, #mainSkills #gridContainer .row5 .skillDescriptionContainer p, #mainSkills #gridContainer .row6 .skillDescriptionContainer p {
    width: 75rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #mainSkills #gridContainer .row1 .skillDescriptionContainer p, #mainSkills #gridContainer .row2 .skillDescriptionContainer p, #mainSkills #gridContainer .row3 .skillDescriptionContainer p, #mainSkills #gridContainer .row4 .skillDescriptionContainer p, #mainSkills #gridContainer .row5 .skillDescriptionContainer p, #mainSkills #gridContainer .row6 .skillDescriptionContainer p {
    width: 100rem;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
  }
}

#mainContact {
  grid-area: main;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: -4rem auto;
}
#mainContact p {
  font-size: 1.05rem;
  width: 65%;
  margin: 1.5rem auto;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainContact p {
    font-size: 1.25rem;
    width: 55%;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainContact p {
    font-size: 1.3rem;
    width: 45%;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainContact p {
    font-size: 1.2rem;
    width: 38%;
  }
}
@media only screen and (min-device-width: 1441px) {
  #mainContact p {
    font-size: 2rem;
    width: 75%;
  }
}
#mainContact form {
  width: 75vw;
  margin: 3rem auto;
  padding-bottom: 2em;
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainContact form {
    width: 45vw;
  }
}
@media only screen and (min-device-width: 769px) {
  #mainContact form {
    width: 38vw;
  }
}
#mainContact form fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}
#mainContact form fieldset label {
  display: block;
  margin: 1.5rem auto 0 auto;
  font-size: 0.85rem;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  #mainContact form fieldset label {
    font-size: 0.95rem;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  #mainContact form fieldset label {
    font-size: 1rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #mainContact form fieldset label {
    font-size: 1.1rem;
  }
}
@media only screen and (min-device-width: 1441px) {
  #mainContact form fieldset label {
    font-size: 2rem;
  }
}
#mainContact form fieldset:last-of-type {
  border-bottom: none;
}
#mainContact form input[type=submit] {
  font-family: "Audiowide", cursive;
  width: 25%;
  font-size: 1rem;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: orange;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 0.4rem;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  margin: 0 auto;
  animation-name: bounce-in-zoomin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@media only screen and (min-device-width: 1441px) {
  #mainContact form input[type=submit] {
    font-size: 2rem;
  }
}
@keyframes bounce-in-zoomin {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  70% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  90% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
#mainContact form input[type=submit]:hover {
  background: orange;
  color: white;
  box-shadow: 0 0 5px orange, 0 0 25px orange, 0 0 50px orange, 0 0 200px orange;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
}
#mainContact form input, #mainContact form textarea, #mainContact form select {
  margin: 10px 0 0 0;
  width: 75%;
  min-height: 2em;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  font-size: 1rem;
}
@media only screen and (min-device-width: 2561px) and (max-device-width: 4096px) {
  #mainContact form input, #mainContact form textarea, #mainContact form select {
    font-size: 2.5rem;
  }
}

#footer {
  grid-area: footer;
  width: 100vw;
  color: whitesmoke;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  margin-bottom: 1rem;
  padding-top: 4rem;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px) {
  #footer {
    font-size: 1.2em;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #footer {
    font-size: 1.35em;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #footer {
    font-size: 2em;
  }
}
@media only screen and (min-device-width: 2561px) {
  #footer {
    font-size: 3em;
  }
}
#footer .footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footerContainer .footerList {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}
#footer .footerContainer .footerList li {
  display: inline-block;
}
#footer .footerContainer .footerList li .instagram {
  width: 1.5rem;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px) {
  #footer .footerContainer .footerList li .instagram {
    width: 2.25rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #footer .footerContainer .footerList li .instagram {
    width: 2.75rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #footer .footerContainer .footerList li .instagram {
    width: 4.25rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #footer .footerContainer .footerList li .instagram {
    width: 6.25rem;
  }
}
#footer .footerContainer .footerList li .gitHub {
  width: 2.5rem;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px) {
  #footer .footerContainer .footerList li .gitHub {
    width: 3.7rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #footer .footerContainer .footerList li .gitHub {
    width: 4.75rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #footer .footerContainer .footerList li .gitHub {
    width: 7.5rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #footer .footerContainer .footerList li .gitHub {
    width: 10rem;
  }
}
#footer .nameSurname {
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.3em;
  text-shadow: 0 0 5px rgb(255, 196, 0), 0 0 10px rgb(255, 196, 0);
  animation: animate 1.5s linear infinite;
}
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px) {
  #footer .nameSurname {
    font-size: 1.2rem;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
  #footer .nameSurname {
    font-size: 1.45rem;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
  #footer .nameSurname {
    font-size: 2.15rem;
  }
}
@media only screen and (min-device-width: 2561px) {
  #footer .nameSurname {
    font-size: 3.25rem;
  }
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
