* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Audiowide', cursive;
    overflow-x: hidden;
}

#body {
    background-image: url(../img/background/pxfuel.jpg);
    background-position-x: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: 10% 80% 10%;
}

/*----------HEADER SETUP----------*/

#header {
    grid-area: header;
    display: block;
}

/*COLLAPSIBLE MENU MESSAGE*/

.menuMessage {
    color: orange;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    letter-spacing: 0.1em;
}

.menuMessage .son1 {
    font-size: 1rem;
    width: 100vw;
    text-align: center;
}

.menuMessage .son2 {
    width: 100vw;
    text-align: center;
    font-size: 2rem;
    margin-top: -0.50rem;
}

/*SPAN CONTAINER RETRACTIL LOGO*/

h3 {
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 3rem;
    text-align: center;
}

h3 span {
    display: inline-flex;
    color:white;
}

h3 span:nth-child(even)
{
    overflow: hidden;
    transition: ease-in-out 0.5s;
    letter-spacing: -1em;
}

/*HOVER RETRACTIL LOGO*/

h3:hover span:nth-child(even) {
    letter-spacing: 0;
    transition-delay: 0s;
}

/*COLLAPSIBLE MENU*/

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    cursor: pointer;
}

.collapsible-content {
    max-height: 0px;
    position: fixed;
    overflow: hidden;
    transition: max-height .50s ease-in-out;
}

.content-inner {
    width: 100vw;
    text-align: center;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 13.5rem;
    overflow: hidden;
}

.collapsible-content li {
    margin-block: 2rem;
    list-style: none;
    text-shadow: 0 0 5px white, 0 0 10px white;
}

.collapsible-content a {
    text-decoration: none;
    letter-spacing: 0.5em;
    font-size: 1rem;
}

/*HOVER*/

 /* unvisited link */
a:link {
    color: whitesmoke;
    /* text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 30px white, 0 0 35px white, 0 0 40px white, 0 0 50px white; */
}

  /* visited link */
a:visited {
    color:whitesmoke;
}

  /* mouse over link */
a:hover {
    color: whitesmoke;
}

  /* selected link */
a:active {
    color: whitesmoke;
}

/*----------MAIN SETUP----------*/

#mainIndex {
    grid-area: main;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
}

#mainIndex>h2 {
    color: rgb(236, 236, 236);
    justify-content: center;
    text-align: center;
    margin: 8rem 1rem 3rem 1rem;
    font-size: 2.25rem;
    letter-spacing: 1.25rem;
}

#mainIndex>p {
    color: rgb(236, 236, 236);
    justify-content: center;
    text-align: center;
    margin: 2rem 1rem 8rem 1rem;
    font-size: 1rem;
    letter-spacing: 0.34rem;
    /* color: white;
    width: 35rem;
    margin-bottom: 8rem;
    font-size: 1rem;
    letter-spacing: 0.34em; */
}

/*FOOTER SETUP*/

#footer {
    grid-area: footer;
    width: 100vw;
    color:whitesmoke;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    margin-bottom: 2.5rem;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listFooter {
    display: flex;
    align-items: center;
}

.listFooter>li {
    display: inline-block;
}

.linkFooter {
    width: 1.5rem;
}

.linkFooter2 {
    width: 2.5rem;
}

#footer .nameSurname { 
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 0.3em;
    text-shadow: 0 0 5px rgb(255, 196, 0), 0 0 10px rgb(255, 196, 0);
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}