#bodyPages {
    font-family: 'Audiowide', cursive;
    background-image: url(../img/background/pxfuel.jpg);
    background-position-x: 60%;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-rows: 17rem 80% 10%;
}