@use '../variables/variables';

#mainAboutme {
    grid-area: main;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    #content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        max-width: 1900px;
        height: auto;
        margin: 0 auto;
        padding: 0 4rem;
        background: rgba(black, 0.3);
        .growingWord, .touch {
            color: orange;
            text-decoration: none;
            transition: font-size 1s;
            &:hover {
                font-size: 3rem;
            }
        }
        #textoAboutme {
            text-align: center;
            p {
                color: variables.$p_color;
                letter-spacing: 0.2rem;
                font-size: 1rem;
                width: auto;
                padding: 2rem;
                @media only screen and (min-device-width: 325px) and (max-device-width: 425px)  {
                    font-size: 1.25rem;
                }
                @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
                    font-size: 1.25rem;
                    width: 65%;
                    margin: 0 auto;
                }
                @media only screen and (min-device-width: 1441px)  and (max-device-width: 2560px) {
                    font-size: 1.75rem;
                    width: 75%;
                    margin: 0 auto;
                }
                @media only screen and (min-device-width: 2561px)  {
                    font-size: 2.5rem;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
        #javaFalse {
            text-align: left;
            color: variables.$p_color;
            letter-spacing: 0.2rem;
            font-size: 1rem;
            width: 70vw;
            margin: 1rem auto;
            .let {
                color: lightskyblue;
            }
            .true {
                color: limegreen;
            }
            .false {
                color: red;
            }
            .alert {
                color: yellow;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
                font-size: 1.25rem;
                width: 60vw;
            }
            @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
                font-size: 1.25rem;
                width: 55vw;
            }
            @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
                font-size: 1.75rem;
                width: 45vw;
            }
            @media only screen and (min-device-width: 2561px)  {
                font-size: 2.5rem;
                width: 40vw;
            }
        }
        .goodLuck {
            color: variables.$p_color;
            text-align: center;
            padding: 2rem;
            font-size: 2rem;
            @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
                margin-top: 5rem;;
            }
            @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
                font-size: 2.75rem;
                margin-top: 5rem;;
            }
            @media only screen and (min-device-width: 2561px)  {
                font-size: 5rem;
                margin-top: 10rem;;
            }
        }
    }
}