@use '../variables/variables';

#mainContact {
    grid-area: main;
    color: variables.$p_color;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    p {
        font-size: 1.05rem;
        width: 65%;
        margin: 1.5rem auto;
        @media only screen and (min-device-width: 576px) and (max-device-width: 768px)  {
            font-size: 1.25rem;
            width: 55%;
        }
        @media only screen and (min-device-width: 769px) and (max-device-width: 1024px)  {
            font-size: 1.30rem;
            width: 45%;
        }
        @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
            font-size: 1.20rem;
            width: 38%;
        }
        @media only screen and (min-device-width: 1441px) {
            font-size: 2rem;
            width: 75%;
        }
    }
    form {
        width: 75vw;
        margin: 3rem auto;
        padding-bottom: 2em;
        background-color: rgba(black, 0.3);
        @media only screen and (min-device-width: 576px) and (max-device-width: 768px)  {
            width: 45vw;
        }
        @media only screen and (min-device-width: 769px) {
            width: 38vw;
        }
        fieldset {
            border: none;
            padding: 2rem 0;
            border-bottom: 3px solid #3b3b4f;
            label {
                display: block;
                margin: 1.5rem auto 0 auto;
                font-size: 0.85rem;
                @media only screen and (min-device-width: 576px) and (max-device-width: 768px)  {
                    font-size: 0.95rem;
                }
                @media only screen and (min-device-width: 769px) and (max-device-width: 1024px)  {
                    font-size: 1rem;
                }
                @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
                    font-size: 1.10rem;
                }
                @media only screen and (min-device-width: 1441px) {
                    font-size: 2rem;
                }
            }
        }
        fieldset:last-of-type {
            border-bottom: none;
        }
        input[type="submit"] {
            font-family: 'Audiowide', cursive;
            width: 25%;
            font-size: 1rem;
            padding: 1rem 1rem;
            background-color: rgba(black, 0.5);
            color: orange;
            font-weight: bold;
            border: none;
            border-radius: 0.5rem;
            letter-spacing: 0.4rem;
            overflow: hidden;
            transition: 0.5s;
            cursor: pointer;
            margin: 0 auto;
            animation-name: bounce-in-zoomin;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: none;
            @media only screen and (min-device-width: 1441px) {
                font-size: 2rem;
            }
            @keyframes bounce-in-zoomin {
                
            0% {
                transform:scale(7);
                animation-timing-function:ease-in;
                opacity:0;
            }
            35% {
                transform:scale(1);
                animation-timing-function:ease-out;
                opacity:1;
            }
            55% {
                transform:scale(1.5);
                animation-timing-function:ease-in;
            }
            70% {
                transform:scale(1);
                animation-timing-function:ease-out;
            }
            80% {
                transform:scale(1.24);
                animation-timing-function:ease-in;
            }
            90% {
                transform:scale(1);
                animation-timing-function:ease-out;
            }
            95% {
                transform:scale(1.04);
                animation-timing-function:ease-in;
            }
            100% {
                transform:scale(1);
                animation-timing-function:ease-out;
            }
        }
            &:hover{
                background: orange;
                color: white;
                box-shadow: 0 0 5px orange,
                            0 0 25px orange,
                            0 0 50px orange,
                            0 0 200px orange;
                -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
            }
        }
        input, textarea, select {
            margin: 10px 0 0 0;
            width: 75%;
            min-height: 2em;
            background-color: white;
            border: 1px solid black;
            font-weight: 600;
            font-size: 1rem;
            @media only screen and (min-device-width: 2561px) and (max-device-width: 4096px)  {
                font-size: 2.5rem;
            }
        }
    }
}