#homePage {
    box-sizing: unset;
}
#mainSkills {
    color: white;
    text-align: center;
    margin: 1rem auto;
    .container {
        .row {
            margin-top: 5rem;
            padding: 2rem;
            background-color: rgba(black, 0.45);
            border: 0.1rem solid black;
            h3 {
                margin: 1rem auto;
                @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
                    font-size: 2.5rem;
                }
            }            
            img {
                width: 20%;
                margin: 1rem auto;
                @media only screen and (min-device-width: 576px) and (max-device-width: 768px)  {
                    width: 50%;
                }
                @media only screen and (min-device-width: 769px) and (max-device-width: 1024px)  {
                    width: 45%;
                }
                @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
                    width: 40%;
                }
                @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
                    width: 60%;
                }
            }            
            p {
                width: 100%;
                font-size: 0.89rem;
                margin: 0 auto;
                letter-spacing: 0.05rem;
                @media only screen and (min-device-width: 576px) and (max-device-width: 768px)  {
                    font-size: 0.95rem;
                }
                @media only screen and (min-device-width: 769px) and (max-device-width: 1024px)  {
                    font-size: 1rem;
                }
                @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
                    font-size: 1.25rem;
                }
                @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
                    font-size: 2rem;
                }
            }
        }
    }
}