#footer {
    grid-area: footer;
    width: 100vw;
    color:whitesmoke;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: end;
    margin-bottom: 1rem;
    padding-top: 4rem;
    @media only screen and (min-device-width: 576px) and (max-device-width: 1024px)   {
        font-size: 1.2em;
    }
    @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
        font-size: 1.35em;
    }
    @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
        font-size: 2em;
    }
    @media only screen and (min-device-width: 2561px)  {
        font-size: 3em;
    }
    .footerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        .footerList {
            display: flex;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0;
            li {
                display: inline-block;
                .instagram {
                    width: 1.5rem;
                    @media only screen and (min-device-width: 576px) and (max-device-width: 1024px)   {
                        width: 2.25rem;
                    }
                    @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
                        width: 2.75rem;
                    }
                    @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
                        width: 4.25rem;
                    }
                    @media only screen and (min-device-width: 2561px)  {
                        width: 6.25rem;
                    }
                }
                .gitHub {
                    width: 2.5rem;
                    @media only screen and (min-device-width: 576px) and (max-device-width: 1024px)   {
                        width: 3.7rem;
                    }
                    @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
                        width: 4.75rem;
                    }
                    @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
                        width: 7.5rem;
                    }
                    @media only screen and (min-device-width: 2561px)  {
                        width: 10rem;
                    }
                }
            }
        }
    }
    .nameSurname {
        font-size: 0.9rem;
        text-align: center;
        letter-spacing: 0.3em;
        text-shadow: 0 0 5px rgb(255, 196, 0), 0 0 10px rgb(255, 196, 0);
        animation: animate 1.5s linear infinite;
        @media only screen and (min-device-width: 576px) and (max-device-width: 1024px)   {
            font-size: 1.2rem;
        }
        @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px)  {
            font-size: 1.45rem;
        }
        @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
            font-size: 2.15rem;
        }
        @media only screen and (min-device-width: 2561px)  {
            font-size: 3.25rem;
        }
    }
    @keyframes animate {
        0% {filter: hue-rotate(0deg);
        }
        100% {
            filter: hue-rotate(360deg);
        }
    }
}