#header {
    grid-area: header;
    display: block;
    // Homepage icon container for About me, Contact, My work, and Skills pages.
    .homePageIconContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // Homepage Icon
        #homePageIcon {
            display: inline-block;
            width: 3rem;
            margin-top: 1rem;
            padding: 0.75rem;            
            transition: width 1s;
            @media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
                width: 5rem;
            }
            @media only screen and (min-device-width: 769px) and (max-device-width: 1440px) {
                width: 6rem;
            }
            @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
                width: 6.5rem;
            }
            @media only screen and (min-device-width: 2561px){
                width: 7rem;
            }
        }
    }
    // Index page top message
    .whereToStartMessage {
        color: orange;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        letter-spacing: 0.1em;
        .message {
            font-size: 1rem;
            width: 100vw;
            text-align: center;
            @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
                font-size: 2rem;
            }
            @media only screen and (min-device-width: 2561px) {
                font-size: 2.25rem;
            }
        }
        .arrow {
            width: 100vw;
            text-align: center;
            font-size: 2rem;
            @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
                font-size: 4rem;
            }
            @media only screen and (min-device-width: 2561px) {
                font-size: 4rem;
            }
        }
    }
    input[type='checkbox'] {
        display: none;
    }
    // Label for checkbox.
    .lbl-toggle {
        cursor: pointer;
        // Expandable logo for menu
        #Logo {
            height: 4rem;
            line-height: 4rem;
            font-size: 3.25rem;
            font-weight: 900;
            width: 100VW;
            text-align: center;
            margin-bottom: 1rem;
            @media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
                font-size: 4.25rem;
                height: 5rem;
                line-height: 5rem;
            }
            @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
                font-size: 4.5rem;
                height: 5rem;
                line-height: 5rem;
            }
            @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
                font-size: 5rem;
                height: 6rem;
                line-height: 6rem;
            }
            @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
                font-size: 5.5rem;
                height: 6.5rem;
                line-height: 6.5rem;
            }
            @media only screen and (min-device-width: 2561px) {
                font-size: 5.75rem;
                height: 7rem;
                line-height: 7rem;
            }
            span {
                display: inline-flex;
                color:white;
                &:nth-child(even) {
                    overflow: hidden;
                    transition: ease-in-out 0.5s;
                    letter-spacing: -1em;
                }
            }
            &:hover span:nth-child(even) {
                letter-spacing: 0;
                transition-delay: 0s;
            }
        }
    }
    // Dropdown menu
    .dropdown-content {
        max-height: 0vh;
        position: relative;
        overflow: hidden;
        transition: max-height .50s ease-in-out;
        margin: -2rem auto auto 0.5rem;
        .content-inner {
            width: 100vw;
            text-align: center;
            li {
                margin-block: 1.25rem;
                list-style: none;
                text-shadow: 0 0 5px white, 0 0 10px white;
                a {
                    text-decoration: none;
                    letter-spacing: 0.5em;
                    font-size: 1.75rem;
                    transition: font-size 1s;
                    @media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
                        font-size: 1.85rem;
                    }
                    @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
                        font-size: 1.90rem;
                    }
                    @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
                        font-size: 1.95rem;
                    }
                    @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
                        font-size: 2rem;
                    }
                    @media only screen and (min-device-width: 2561px)  {
                        font-size: 3.25rem;
                    }
                    &:link {
                        color: whitesmoke;
                    }
                    &:visited {
                        color:whitesmoke;
                    }
                    &:hover {
                        color: whitesmoke;
                        font-size: -0.75rem;
                        @media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
                            font-size: 0.25rem;
                        }
                        @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
                            font-size: 0.75rem;
                        }
                        @media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
                            font-size: 1.25rem;
                        }
                        @media only screen and (min-device-width: 1441px) and (max-device-width: 2560px)  {
                            font-size: 1.5rem;
                        }
                        @media only screen and (min-device-width: 2561px)  {
                            font-size: 2.5rem;
                        }
                    }
                    &:active {
                        color: whitesmoke;
                    }
                }
            }
        }
    }
    //Dropdown content height
    .toggle:checked+.lbl-toggle+.dropdown-content {
        max-height: 22rem;
        overflow: hidden;
    }
}